 * {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
}

html, body {
  height: 100%;
}

.container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 60px 2fr 80fr 60px;
  gap: 1px 0px;
  grid-auto-flow: row;
  justify-content: center;
  align-content: center;
  justify-items: center;
  align-items: center;
  grid-template-areas:
    'logo'
    'title-div'
    'pages'
    'copyright';
}

.logo {
  display: grid;
  grid-template-columns: 1fr 8fr 1fr;
  grid-template-rows: 1fr;
  grid-auto-flow: row;
  justify-content: center;
  align-content: center;
  justify-items: center;
  align-items: center;
  grid-template-areas: 'logo-left logo-mid logo-right';
  grid-area: logo;
  width: 100%;
}

.logo-left {
  grid-area: logo-left;
  width: 100%;
  height: 60px;
}

.logo-mid {
  grid-area: logo-mid;
  width: 100%;
  height: 60px;
  background-image: url("../resource/image/logo-mid.jpg");
  background-size: cover;
  background-position: center center;
}

.logo-right {
  grid-area: logo-right;
  width: 100%;
  height: 60px;
}

.title-div {
  justify-content: center;
  align-content: center;
  justify-items: center;
  align-items: center;
  grid-area: title-div;
  width: 100%;
  height: 100%;
  background-image: url("../resource/image/title-div.jpg");
  background-size: cover;
}

.pages {
  display: grid;
  grid-template-columns: 1fr 8fr 1fr;
  grid-template-rows: 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas: 'pages-left pages-mid pages-right';
  grid-area: pages;
  width: 100%;
  height: 100%;
}

.pages-left {
  grid-area: pages-left;
  width: 100%;
}

.pages-right {
  grid-area: pages-right;
  width: 100%;
}

.pages-mid {
  display: grid;
  grid-template-columns: 2fr 6fr 2fr;
  grid-template-rows: 1fr;
  gap: 2px 2px;
  grid-auto-flow: row;
  grid-template-areas: 'contents-left contents contents-right';
  grid-area: pages-mid;
  width: 100%;
}

.contents-left {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 2px 2px;
  grid-auto-flow: row;
  grid-template-areas:
    'contents-left-01'
    'contents-left-02'
    'contents-left-03';
  grid-area: contents-left;
  width: 100%;
}

.contents-left-01 {
  grid-area: contents-left-01;
  justify-content: center;
  align-content: center;
  justify-items: center;
  align-items: center;
  background-image: url("../resource/image/contents-left01.jpg");
  background-size: cover;
}

.contents-left-02 {
  grid-area: contents-left-02;
  background-image: url("../resource/image/contents-left02.jpg");
  background-size: cover;
  background-position: center center;
}

.contents-left-03 {
  grid-area: contents-left-03;
  width: 100%;
  background-image: url("../resource/image/contents-left03.jpg");
  background-size: cover;
}

.contents {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 2px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    'contents-mid-01'
    'contents-mid-02';
  grid-area: contents;
  width: 100%;
  height: 100%;
}

.contents-mid-01 {
  grid-area: contents-mid-01;
    background-image: url("../resource/image/contents-left03.jpg");
  background-size: cover;
}

.contents-mid-02 {
  grid-area: contents-mid-02;
  width: 100%;
  height: 100%;
    background-image: url("../resource/image/contents-left03.jpg");
  background-size: cover;
}

.contents-right {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 2px 2px;
  grid-auto-flow: row;
  grid-template-areas:
    'contents-right-01'
    'contents-right-02'
    'contents-right-03';
  grid-area: contents-right;
  width: 100%;
  height: 100%;
}

.contents-right-01 {
  grid-area: contents-right-01;
  width: 100%;
  height: 100%;
}

.contents-right-02 {
  grid-area: contents-right-02;
  width: 100%;
  height: 100%;
}

.contents-right-03 {
  grid-area: contents-right-03;
  width: 100%;
  height: 100%;
}

.copyright {
  display: grid;
  grid-template-columns: 1fr 8fr 1fr;
  grid-template-rows: 1fr;
  grid-auto-flow: row;
  grid-template-areas: 'copyright-left copyright-mid copyright-right';
  grid-area: copyright;
  width: 100%;
  height: 60px;
}

.copyright-mid {
  grid-area: copyright-mid;
  background-image: url("../resource/image/copyright-mid.jpg");
  background-size: cover;
  background-position: center center;
  font-size: 24px;
  line-height: 60px;/*div中文字的垂直居中方式。*/
  text-align: center;/*div中文字的水平居中方式。*/
}

.copyright-left {
  grid-area: copyright-left;
  width: 100%;
}

.copyright-right {
  grid-area: copyright-right;
  width: 100%;
}

video {
    width: 100%;
    height: 2300px;
    object-fit: contain;

}

audio {
    object-fit: cover;
}